{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "airbnb-base"
    ],
    "rules": {
        "indent": ["error", 4],
        "no-use-before-define":  ["error", {
            "functions": false
        }]
    }
}